# compiled output
dist/
**/dist/


# Node
node_modules/
**/node_modules/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Test coverage
/coverage
/.nyc_output

# IDEs and editors
/.idea
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Editor settings
.project
.idea/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Environment files
.env
.env.*

# Misc
*.tgz

# config
src/firebase/firebase-service-account.json
